.Slider-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  color: rgba(0,0,131);
}

.List-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgba(0,0,131);
}

@media screen and (max-width:500px) {
  .Slider-container {
    margin-top: 25px;
  }

  .List-container {
    margin-top: 25px;
  }
}
