.Search-bar-container {
  margin-top: 45px;
}

.Search-bar-div {
  background-color: white;
  height: 37px;
  border-radius: 5px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  padding-right: 13px;
  padding-left: 13px;
  width: 80vw;
}

.Search-bar-input {
  width: 100vw;
  height: 35px;
  border-radius: 5px;
  border-width: 0px;
}

.Search-bar-input:focus {
  outline: none;
}

@media screen and (max-width:1100px) {
  .Search-bar-div {
    width: 880px;
  }
  .Search-bar-input {
    width: 1100px;
  }
}

@media screen and (max-width:500px) {
  .Search-bar-container {
    margin-top: 30px;
  }
  .Search-bar-div {
    height: 20px;
    border-radius: 3px;
    padding-right: 7px;
    padding-left: 7px;
    width: 80vw;
  }
  .Search-bar-input {
    width: 100vw;
    height: 18px;
    border-radius: 2px;
    font-size: 8px;
  }
  .Search-bar-icon {
    width: 10px;
  }
}
